{% include 'header.html' %}
<div class="main-content">
  <section class="section">
    <div class="section">
      <div class="section-body">
        <div class="card">
          <div class="card-header " style="background-color: rgb(219, 226, 235)">
            <a href="/dashboard/"><i class="fas fa-home"></i></a>
            <h5 class="mt-2 ml-3">Job Order</h5>
          </div>
          <div class="card-body">
            <div class="form-group row mt-2">
              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Customer name</label
              ><input type="hidden" id="cust_name" name="cust_name" >
              <div class="col-sm-4">
                <select
                  class="form-control form-control-sm selectric"
                  name="cust_name"
                  onchange="select_customer()"
                  id="cust_id"
                  
                >
                  <option>--Select--</option>
                  {% for i in obj %}
                  <option value="{{i.id}}">
                    {{i.cust_name}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >Quotation no.</label
              >
              <div class="col-sm-4">
                <input
                  type="number"
                  id="quotation_no"
                  class="form-control"
                  name="quotation_no"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Quotation number"
                  readonly
                />
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Address</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="text"
                  id="cust_addr"
                  class="form-control form"
                  name="cust_addr"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Address"
                  readonly
                />
              </div>

              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >Registration number</label
              >
              <div class="col-sm-4 mt-2">
                <select
                  class="form-control select2"
                  name="veh_reg_no"
                  id="veh_reg_no"
                  
                ></select>
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Phone</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="number"
                  id="cust_phone"
                  class="form-control"
                  name="cust_phone"
                  tabindex="1"
                  readonly
                  required
                  autofocus
                  placeholder="Phone number"
                />
              </div>

              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >Reference</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="cust_refer"
                  id="cust_refer"
                  class="form-control"
                  name="refer"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Reference"
                />
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Mobile</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="number"
                  id="cust_mobile"
                  class="form-control"
                  name="cust_mobile"
                  readonly
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Mobile number"
                />
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Schedule Datetime</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="date"
                  id="seh_time"
                  class="form-control"
                  name="seh_time"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Schedule Datetime"
                />
              </div>

              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >Website</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="text"
                  id="comp_web"
                  class="form-control"
                  name="comp_web"
                  readonly
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Website"
                />
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Delivery Datetime</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="date"
                  id="deliver_time"
                  class="form-control"
                  name="deliver_time"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Delivery Datetime"
                />
              </div>

              <label for="inputPassword3" class="col-sm-2 col-form-label"
                >Details</label
              >
              <div class="col-sm-4 mt-2">
                <input
                  type="text"
                  id="notes"
                  class="form-control"
                  name="notes"
                  tabindex="1"
                  required
                  autofocus
                  placeholder="Details"
                />
              </div>

              <label for="inputEmail3" class="col-sm-2 col-form-label"
                >Alert Via</label
              >
              <div class="col-sm-4 mt-2">
                <div class="form-group">
                  <div class="selectgroup selectgroup-pills">
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        name="notif"
                        value="alert_via"
                        class="selectgroup-input"
                        
                      />
                      <span class="selectgroup-button">SMS</span>
                    </label>
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        value="Email"
                        name="alert_via"
                        class="selectgroup-input"
                      />
                      <span class="selectgroup-button">Email</span>
                    </label>
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        value="Post"
                        name="alert_via"
                        class="selectgroup-input"
                      />
                      <span class="selectgroup-button">Post</span>
                    </label>
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        value="None"
                        name="alert_via"
                        class="selectgroup-input"
                      />
                      <span class="selectgroup-button">None</span>
                    </label>
                  </div>
                </div>
                <div class="invalid-feedback">
                  Oh no! Notifications is invalid?
                </div>
              </div>

              <div class="card-body">
                <table class="table table-bordered table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Job Type</th>
                      <th scope="col">Mechanic</th>
                      <th scope="col">Customer Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">
                        <select
                          class="form-control selectric"
                          name="job_type"
                          id="job_type"
                        >
                          <option>--Select--</option>
                          {% for i in obj1 %}
                          <option value="{{i.job_type}}">
                            {{i.job_type}}
                          </option>
                          {% endfor %}
                        </select>
                      </td>
                      <td scope="row">
                        <select
                          class="form-control selectric"
                          name="machanic_names"
                          id="machanic_names"
                        >
                          <option>--Select--</option>
                          {% for i in obj2 %}
                          <option value="{{i.machanic_names}}">
                            {{i.machanic_names}}
                          </option>
                          {% endfor %}
                        </select>
                      </td>
                      <td>
                        <input
                          type="text"
                          id="cust_note"
                          class="form-control"
                          name="cust_note"
                          tabindex="1"
                          required
                          autofocus
                          placeholder="Details"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-info" id="saveData" onclick="submit_job_order()" >Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  function select_customer() {
    var cust_id = $("#cust_id").val();
    console.log(cust_id);

    $.ajax({
      method: "POST",
      url: "/Job_details/",
      data: {
        cust_id,
      },
      success: function (response) {
        if (response["msg"] == "success") {

          $("#cust_name").val(response["cust_name"]);
          $("#cust_addr").val(response["address"]);
          $("#cust_phone").val(response["phone"]);
          $("#notes").val(response["notes"]);
          $("#cust_mobile").val(response["mobile"]);
          $("#comp_web").val(response["website"]);
          $("#quotation_no").val(response["quo_data"]);
          var opt = [];
          veh = JSON.parse(response["data"]);
          quo_no = JSON.parse(response["quo_data"]);
          for (key in veh) {
            let data = veh[key];
            console.log(veh[key]);
            opt = `<option> ${data} </option>`;
            $("#veh_reg_no").append(opt);
            opt = [];
          }
        }
      },
    });
  }


  function submit_job_order() {
    var cust_name = $("#cust_name").val();
    var quotation_no = $("#quotation_no").val();
    var cust_addr = $("#cust_addr").val();
    var veh_reg_no = $("#veh_reg_no").val();
    var cust_phone = $("#cust_phone").val();
    var cust_mobile = $("#cust_mobile").val();
    var veh_reg_no = $("#veh_reg_no").val();
    var cust_refer = $("#cust_refer").val();
    let seh_time = $("#seh_time").val();
    let deliver_time = $("#deliver_time").val();
    let cust_note = $("#cust_note").val();
    var alert_via = $("input[name='alert_via' ]:checked ").val();
    var job_type = $("#job_type").val();
    var machanic_names = $("#machanic_names").val();
    var notes = $("#notes").val();


    // if (cust_name == "") {
    //   $("#cust_name_error").show();
    //   $("#cust_name").focus();
    // } else if (quotation_no == "") {
    //   $("#quotation_number_error").show();
    //   $("#quotation_no").focus();
    // } else if (cust_addr == "") {
    //   $("#cust_addr_error").show();
    //   $("#cust_addr").focus();
    // } else if (quot_date == "") {
    //   $("#quotation_date_error").show();
    //   $("#quot_date").focus();
    // } else if (cust_phone == "") {
    //   $("#cust_phone_error").show();
    //   $("#cust_phone").focus();
    // } else if (veh_reg_no == "") {
    //   $("#veh_reg_no_error").show();
    //   $("#veh_reg_no").focus();
    // } else if (notes == "") {
    //   $("#notes_error").show();
    //   $("#notes").focus();
    // } else if (job_name == "") {
    //   $("#job_name_error").show();
    //   $("#job_name").focus();
    // } else if (rates == "") {
    //   $("#rates_error").show();
    //   $("#rates").focus();
    // } else if (note == "") {
    //   $("#note_error").show();
    //   $("#note").focus();
    // } else if (items == "") {
    //   $("#items_error").show();
    //   $("#items").focus();
    // } else if (qty == "") {
    //   $("#qty_error").show();
    //   $("#qty").focus();
    // } else if (qty >= availale_qty) {
    //   $("#qty_limit_error").show();
    //   $("#qty").focus();
    // } else {
      $.ajax({
        method: "POST",
        url: "/store_job_order/",
        data: {
          cust_name: cust_name,
          quotation_no,
          cust_addr,
          veh_reg_no,
          cust_phone,
          cust_mobile,
          cust_refer,
          seh_time,
          deliver_time,
          cust_note,
          alert_via,
          job_type,
          machanic_names,
          notes,
        },
        success: function (response) {
          if (response == "success") {
            alert("success");
            $("#cust_name").val("");
            $("#quotation_no").val("");
            $("#cust_addr").val("");
            $("#veh_reg_no").val("");
            $("#cust_phone").val("");
            $("#cust_mobile").val("");
            $("#veh_reg_no").val("");
            $("#cust_refer").val("");
            $("#seh_time").val("");
            $("#deliver_time").val("");
            $("#cust_note").val("");
            $("#alert_via").val("");
            $("#job_type").val("");
            $("#machanic_names").val("");
            $("#notes").val("");
          }
        },
      });
    // }
  }

  function show_part_det() {
    var part_id = $("#items").val()[0];

    $.ajax({
      method: "POST",
      url: "/veh_repair_part/",
      data: {
        part_id,
      },
      success: function (response) {
        if (response["msg"] == "success") {
          $("#availale_qty").val(response["qty"]);
          $("#price").val(response["prod_price"]);
          $("#qty").val("");
          $("#total_price").val("");
          $("#allTotal").val("");
          $("#price ,#qty").keyup(function () {
            let total = 0;
            let prodPrice = $("#price").val();
            let prodQty = Number($("#qty").val());

            total = prodPrice * prodQty;
            $("#total_price").val(total);
            total_msg = `Qty : ${prodQty} Price : ${total}`;

            $("#allTotal").val(total_msg);
          });
        }
      },
    });
  }





  function send_to_customer() {
    var cust_name = $("#cust_name").val();
    var quotation_no = $("#quotation_no").val();
    var cust_addr = $("#cust_addr").val();
    var quot_date = $("#quot_date").val();
    var cust_phone = $("#cust_phone").val();
    var veh_reg_no = $("#veh_reg_no").val();
    var notes = $("#notes").val();
    let job_name = $("#job_name").val();
    let rates = $("#rates").val();
    let note = $("#note").val();
    var items = $("#items").val();
    var availale_qty = $("#availale_qty").val();
    var qty = $("#qty").val();
    var price = $("#price").val();
    var total_price = $("#total_price").val();
    var allTotal = $("#allTotal").val();

    $.ajax({
      method: "POST",
      url: "/send_mail/",
      data: {
        cust_name: cust_name,
        quotation_no,
        cust_addr,
        quot_date,
        cust_phone,
        veh_reg_no,
        notes,
        job_name,
        rates,
        note,
        items,
        availale_qty,
        qty,
        price,
        total_price,
        allTotal,
      },
      success: function (response) {
        if (response == "success") 
        {
          alert("send email");
        } 
      },
    });
  }






  // const radio_btn = document.querySelector("#saveData");

  //   const radio_button = document.querySelectorAll('input[name="notif"]');
  //   radio_btn.addEventListener("click", () => {
  //       let selectMethod;
  //       for (const radio_buttons of radio_button) {
  //           if (radio_buttons.checked) {
  //               selectMethod = radio_buttons.value;
  //               break;
  //           }
  //       }
  //       $("#alert_via").val(selectMethod);
    

  //   });

  $("#cust_name").keyup(function () {
    $("#cust_name_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#quotation_no").keyup(function () {
    $("#quotation_number_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#cust_addr").keyup(function () {
    $("#cust_addr_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#quot_date").keyup(function () {
    $("#quotation_date_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#cust_phone").keyup(function () {
    $("#cust_phone_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#veh_reg_no").keyup(function () {
    $("#veh_reg_no_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });

  $("#notes").keyup(function () {
    $("#notes_error").hide();
    $("#invalid_error").hide();
    $("#error").hide();
  });
</script>

{% include 'footer.html' %}
